article.movie-area {
  max-width: 100%;
  padding: 0 20px;
  overflow-x: hidden;
  padding-top: 20px;

  h3 {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    padding-bottom: 10px;
  }

  aside.movie-list {
    display: block;
    width: 100%;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px 10px 20px;
    white-space: nowrap;

    .movie {
      position: relative;
      width: auto;
      display: inline-block;
      height: 150px;
      margin-right: 10px;
      cursor: pointer;

      &.vertical_poster {
        height: 300px;
      }

      img {
        width: auto;
        height: 100%;
        object-fit: contain;
        transition: transform 0.5s;
      }

      .dim {
        width: 100%;
        height: 100%;
        opacity: 0;
        background: rgba(0, 0, 0, 0.6);
        position: absolute;
        top: 0;
        left: 0;
        transition: transform 0.5s;
        display: flex;
        justify-content: center;
        align-items: center;

        strong {
          padding: 0 10px;
          box-sizing: border-box;
          text-align: center;
          line-height: 22px;
          display: block;
          font-size: 16px;
          color: #fff;
          font-weight: bold;
          white-space: normal;
        }
      }

      &:hover {
        z-index: 1;
      }
      &:hover img {
        transform: scale(1.1);
      }

      &:hover .dim {
        transform: scale(1.1);
        opacity: 1;
      }
    }

    &::-webkit-scrollbar {
      background: none;
      height: 5px;
    }
    &::-webkit-scrollbar-thumb {
      background: #e50914;
      border-radius: 10px;
    }
    &::-webkit-scrollbar-track {
      background: none;
    }
  }
}
